.article {
    display: flex;
    margin-bottom: 40px;
}

.article.row span {
    max-height: 400px!important;
}

.article.column {
    flex-direction: column;
    align-items: center;
}
.article.row {
    flex-direction: row;
    justify-content: space-between;
}

.article.column .content {
    width: 100%;
}

.article.row .content {
    flex-grow: 1;
    padding-left: 24px;
    max-width: 450px;
}

@media all and (max-width: 1023px) {
    .article.row .content {
        max-width: 288px;
    }
}

@media all and (max-width: 767px) {
    .article.row {
        flex-direction: column;
        align-items: flex-start;
    }
    .article.row .content {
        max-width: none;
        padding-left: 0;
    }
    .article.row .content .title {
        margin-top: 24px;
    }
}

.article.column .title {
    margin-top: 24px;
}

.title {
    font-family: var(--playfair);
    font-size: 22px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: .5px;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.title:hover{
    color: var(--light-blue);
}

.body {
    width: 100%;
    font-size: 16px;
}