.article {
    margin-bottom: 24px;
    display: flex;
    font-family: var(--playfair);
    justify-content: space-between;
}

.article img {
    cursor: pointer;
}

.title {
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
    font-weight: 400;
    flex-grow: 1;
    padding-left: 24px;
    max-width: 110px;
}

@media all and (max-width: 1250px) {
    .article {
        justify-content: flex-start;
    }
    .title {
        max-width: none;
    }
}