footer.footer {
    width: 100%;
    background-color: var(--light-blue);
    color: #000;
    font-family: var(--montserrat);
    font-size: 11px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    grid-column: 1 / 6;
    grid-row: 3 / 4;
}

@media all and (max-width: 1250px){
    footer.footer {
        grid-column: 1 / 4;
        grid-row: 4 / 5;
    }
}

.copyright {
    width: 30%;
    padding: 4px;
}

@media all and (max-width: 768px) {
    .copyright {
        width: 100%;
    }
}