footer.footer {
    width: 100%;
    background-color: var(--light-blue);
    color: #000;
    font-family: var(--montserrat);
    font-size: 11px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 20px 0;
    text-transform: uppercase;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr minmax(300px, 1200px) 1fr;
    grid-column: 1 / 6;
    grid-row: 3 / 4;
    margin-top: 47.5px;
    height: 77px;
}

@media all and (max-width: 1250px){
    footer.footer {
        grid-column: 1 / 4;
        grid-row: 4 / 5;
    }
}

.links {
    display: flex;
}
.links a, .links p {
    margin: 0 1rem;
    min-width: max-content;
    cursor: pointer;
}

.copyright {
    padding: 4px;
    text-align: right;
}